@font-face {
    font-family: Norse Bold;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	border: 4px solid red;
	width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
	font-family: 'Source Sans Pro', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	border: 4px solid orange;
    background: url("assets/haley-frawns.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
	flex: 1 1 0;
	display: flex;
	flex-direction: column-reverse;
}

div.hype, form > * {
	padding-left: 40px;
	padding-right: 10vw;
}

div.hype {
	border: 4px solid yellow;
	flex: 1 1 0;
	font-weight: bold;
	font-size: 1.2em;
}

div.hype p:first-child {
	padding-top: 15vh;
	padding-bottom: 2vh;
}


div.container {
	border: 4px solid pink;
	display: flex;
	flex-direction: column;
	flex: 2 1 0;
}

form.sign-up {
	border: 4px solid green;
	display: flex; 
	flex-direction: column;
	flex: 2 1 0;
}

form > div {
	flex: 1 1 0;
}

form > div:first-child {
	border: 4px solid blue;
}

form > div:nth-child(2) {
	border: 4px solid purple;
}

header div.logo {
    background-color: rgba(0, 0, 0, .6);
	border: 4px solid cyan;
    color: white;
	width: 100%;
	height: 20vh;
	position: absolute;
	top: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

header div.logo img {
	height: 70%;
}

header div.logo span {
	font-family: "Norse Bold";
	font-size: 4em;
}

p.image-citation {
	border: 4px solid salmon;
	color: white;
	text-align: center;
	font-weight: 200;
}

a {
	color: white;
}

